<div class="container">
  <%= form_for(task) do |f| %>
      <% if @task.errors.present? %>
        <ol>
        <% @task.errors.each do |error, message| %>
          <li>WARNING: 
            <%= "#{error.capitalize}  #{message}" %>
          </li>
          <% end %>
        </ol>
      <% end %>

        <div>
          <%= f.label :name, t('task_title') %>
            <%= f.text_field :name %>
        </div>

        <div>
          <%= f.label :due_date, t('task_date') %>
            <%= f.datetime_field :due_date %>
        </div>

        <div>
          <%= f.label :status, t('task_status') %>
          <%= f.select :status, options_for_select(Task.statuses.map { |key, value| [t("checkpoint_status.#{key}"), value] },@task.status)%>
        </div>

        <div>
          <%= f.label :priority, t('task_priority') %>
          <%= f.select :priority, Task.priorities.map { |key, value| [t("checkpoint_priority.#{key}"), key] } %>
        </div>

        <div>
          <%= f.label :note, t('task_cont') %>
          <%= f.text_area :note %>
        </div>

        <div>
          <%= f.label :tag_list, t('task_tag') %>
          <%= f.text_field :tag_list %>
        </div>
        
        <div>
          <%= f.submit t('task_save') %>
        </div>

      <% end %>
  <p>
  <%= link_to t('hp') , list_tasks_path %>
</div>