<%= form_for(task) do |form| %>
  <% if @task.errors.present? %>
    <ol>
      <% @task.errors.each do |error, message| %>
        <li>WARNING: <%= "#{error.capitalize}  #{message}" %>
        </li>
        <% end %>
    </ol>
  <% end %>

      <div>
        <%= form.label :name, t('task_title') %>
          <%= form.text_field :name %>
      </div>

      <div>
        <%= form.label :due_date, t('task_date') %>
          <%= form.datetime_field :due_date %>
      </div>

      <div>
        <%= form.label :status, t('task_status') %>
        <%= form.select :status, Task.statuses, {include_blank: t('all_status') } %>
      </div>

      <div>
        <%= form.label :note, t('task_cont') %>
          <%= form.text_field :note %>
      </div>

      <div>
        <%= form.submit t('task_save') %>
      </div>
<% end %>