<%= form_for(task) do |f| %> <!-- f variable makes <input> on each "field" or "submit" method -->

    <% if @task.errors.present? %>
      <ol>
       <% @task.errors.each do |error, message| %>
        <li>WARNING: 
          <%= "#{error.capitalize}  #{message}" %>
        </li>
         <% end %>
      </ol>
    <% end %>

      <div>
        <%= f.label :name, t('task_title') %>
          <%= f.text_field :name %>
      </div>

      <div>
        <%= f.label :due_date, t('task_date') %>
          <%= f.datetime_field :due_date %>
      </div>

      <div>
        <%= f.label :status, t('task_status') %>
        <%= f.select :status, Task.i18n_status, {include_blank: t('all_status') } %>
      </div>

      <div>
        <%= f.label :note, t('task_cont') %>
          <%= f.text_area :note %>
      </div>

      <div>
        <%= f.submit t('task_save') %>
      </div>

    <% end %>
<p>
<%= link_to t('hp') , tasks_path %>