<div>
  <%= render "navbar" %>
</div>
<div>
  <%= form_tag root_path, :method=> 'get' do %>
  <p>
    <%= text_field_tag :name, params[:name] %>  <!-- also "text_field" -->
      <%= submit_tag "Search" , :name=> nil %>
  </p>
  <% end %>
</div>

<h1><%= t('task_list') %></h1>
  <ul>
    <% @tasks.each do |task| %>
      <li>
        <%= task.name %>
        <%= t('task_status') %>：<%= task.status %>
          <%= link_to t('task_cont') , task_path(task) %>
            <%= link_to t('task_do_edit') , edit_task_path(task) %>
            <%= link_to t('task_do_kill') , task_path(task), method: :delete, data:{ confirm: t('task_do_sure') } %>
      </li>
    <% end %>
  </ul>

    <%= link_to t('task_do_add') , new_task_path %>

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>