<div>
  <%= render "navbar" %>
</div>

<h1><%= t('task_list') %></h1>
  <ul>
    <% @tasks.each do |task| %>
      <li>
        <%= task.name %>
          <%= link_to t('task_cont') , task_path(task) %>
            <%= link_to t('task_do_edit') , edit_task_path(task) %>
            <%= link_to t('task_do_kill') , task_path(task), method: :delete, data:{ confirm: t('task_do_sure') } %>
      </li>
    <% end %>
  </ul>

    <%= link_to t('task_do_add') , new_task_path %>

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>