<div>
  <%= render "navbar" %>
</div>
<!-- <div>
  <%= form_tag root_path, :method=> 'get' do %>
  <p>
    <%= text_field_tag :name, params[:name] %>
      <%= submit_tag "Search" , :name=> nil %>
  </p>
  <% end %>
</div> -->

<%= search_form_for @name do |f| %>
  <%= f.label :name, "Search for" %>
  <%= f.search_field :name, placeholder: "Mission Name" %>
  <%= f.submit %>
<% end %>

<h1><%= t('task_list') %></h1>
<table>
  <thead>
    <tr>
      <th>
        <%= sort_link(@name, :name) %>
      </th>
      <th>Status</th>
      <th>Contents</th>
      <th colspan="2"></th>
    </tr>
  </thead>

    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td>
            <%= task.name %>
          </td>
          <td>
            <%= t('task_status') %>：<%= task.status %>
          </td>
          <td>
            <%= link_to t('task_cont') , task_path(task) %>
          </td>
          <td>
            <%= link_to t('task_do_edit') , edit_task_path(task) %>
          </td>
          <td>
            <%= link_to t('task_do_kill') , task_path(task), method: :delete, data:{ confirm: t('task_do_sure') } %>
          </td>
        </tr>
        <% end %>
    </tbody>
    </table>

    <%= link_to t('task_do_add') , new_task_path %>

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>