<div class="container">
<p class="lead"><%= t('user_regi') %><p>
  <%= form_for(@user, url: "/users" ) do |f| %>
    <table class="table table-striped table-hover">
      <tbody>
        <tr>
          <td>
            <%= f.label t('user_email') %>
            <%= f.email_field :email %>
          </td>
          <td>
            <%= f.label t('user_pw') %>
            <%= f.password_field :password %>
          </td>
          <td>
            <%= f.label t('user_pw_con') %>
            <%= f.password_field :password_confirmation %>
          </td>
          <td>
            <%= f.label t('user_role') %>
            <%= f.text_field :role %>
          </td>
          <%= f.submit %>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>