<div class="container-fluid">
  <div class="row-sign">
    <div class="col">
          <div class="col col-sm-5"><%= image_tag 'logo_s.fw.png' %></div>
          <div class="col col-sm-5">
          <p class="lead">
            <%= t('user_login') %>
          </p>
      
      </div>
      <div class="col">
        <%= form_for(@user, url: login_path) do |f| %>
          <div class="field">
            <%= f.label :email %>
              <%= f.email_field :email %>
          </div>
          <div class="field">
            <%= f.label :password %>
              <%= f.password_field :password %>
          </div>
          <%= f.submit "Login" %>
        <% end %>
    </div>
  </div>
</div>