<div class="container">
  <div class="row align-items-start">
    <div class="col-w">
      <%= image_tag 'logo.fw.png' %>
    </div>
    <div class="col-w" style="text-align:right">
      <%= link_to t('hp') , list_tasks_path %> |
      <% if user_signed_in? %>
        <%= link_to t('nav_logout') , logout_path, method: "delete" %>
        <mark><%= current_user.user_name %><%= t('nav_task') %></mark> |
      <% else %>
        <%= link_to t('nav_login') , sign_in_users_path %> |
        <%= link_to t('nav_signup') , sign_up_users_path %> |
      <% end %>
      <%= link_to "中文版" , :controller=> controller_name, :action => action_name, :locale => "zh-TW" %> |
      <%= link_to "English" , :controller=> controller_name, :action => action_name, :locale => "en" %>
    </div>
  </div>
</div>